<!-- This example requires Tailwind CSS v2.0+ -->
<footer class="bg-gradient-to-r from-cyan-700 to-sky-700"
        aria-labelledby="footer-heading">
  <h2 id="footer-heading"
      class="sr-only">Footer</h2>
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <div class="grid grid-cols-3">
      <div class="col-span-1">
        <h3 class="text-cyan-200 font-bold text-lg">Odasa d.o.o.</h3>
        <div class="text-cyan-300 py-4 text-sm leading-6">
          Dolenja Nemška vas 20 <br>
          8210 Trebnje<br>
          Slovenija<br><br>

          T: <a href="tel:+386 (0)41 996 999">+386 (0)41 996 999</a> - Odasa d.o.o.<br>
          T: <a href="tel:+386 (0)41 327 979">+386 (0)41 327 979</a> - Stane Hribar<br>
          T: <a href="tel:+386 (0)41 872 140">+386 (0)41 872 140</a> - Aleš Cujnik<br>
          @: <a href="mailto:info@avtodom-odasa.si">info@avtodom-odasa.si</a>
        </div>
      </div>
      <div class="col-span-1">
        <h3 class="text-cyan-200 font-bold text-lg">Delovni čas</h3>
        <div class="text-cyan-300 py-4 text-sm leading-6">
          8:00 - 20:00 oziroma po dogovoru <br>

          Za potrebe naših strank smo vedno dosegljivi (7:00 - 21:00) <br>

          Za obisk na sedežu podjetja je nujna predhodna najava.
        </div>
      </div>
    </div>
    <div class="border-t-2 border-cyan-600 mt-4">
      <div class="py-2 text-sm text-cyan-200">
        Vse pravice pridržane | Odasa d.o.o. - z vami že od leta 2005 <br>
        Informacije na strani so informativne in lahko vsebujejo napake, za katere se vam že vnaprej opravičujemo. Za natančne informacije
        nas kontaktirajte.
      </div>
    </div>
  </div>
</footer>
