<div class="max-w-5xl mx-auto px-8 py-24">

    <h2 class="text-lg font-Cabin uppercase mb-4 text-center">Odgovori na pogosta vprašanja</h2>
    <h3 class="text-5xl font-bold font-Cabin mb-8 text-center">Imate <b class="text-sky-700">vprašanje</b>?</h3>

    <dl class="mt-6 space-y-6 divide-y divide-gray-200" x-data="{ index: 0 }">
        {{ collection:faq }}
        <div class="pt-6">
          <dt class="text-lg">
            <button type="button" @click="index = index === {{ index }} ? null : {{ index }}" class="text-left w-full flex justify-between items-start text-gray-400" aria-controls="faq-0" aria-expanded="false">
              <span class="text-sky-700 text-xl font-bold">{{ title }}</span>
              <span class="ml-6 h-7 flex items-center">
                <svg class="h-6 w-6 transform" x-bind:class="index === {{ index }} ? '-rotate-180' : 'rotate-0'" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                </svg>
              </span>
            </button>
          </dt>
          <dd class="pr-12 prose max-w-full" id="faq-0" x-show="index === {{ index }}" x-collapse>
            <p class="text-base text-gray-500">{{ content }}</p>
          </dd>
        </div>
        {{ /collection:faq }}
      </dl>
</div>
